* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: #79CEF7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.welcome__title {
    margin: 30px;
    font-size: 30px;
}

.homeclass { 
    background-color: white;
    width: 400px;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.champ {
    width: 300px;           
    height: 30px;           
    border: 1px solid #ddd; 
    border-radius: 5px;     
    padding: 5px 10px;     
    font-size: 16px;
    margin: 5px;
}
label {
    font-weight: bold;
}

div {
    margin: 20px;
}

button { 
    background: linear-gradient(to right, #76a9ff, #8af1e1);
    border-radius: 10px;
    width: 82%;
    height: 60px;
    margin-bottom: 20px;
    border: 0;
}

.buttoncontent { 
    color: black;
    font-size: 17px;
}

button:hover {
    opacity: 0.9;
}

span {
    color: #DF575B;
    margin-top: 0.3rem;
    font-weight: 500;
}

